body { 
    font-family: sans-serif; 
    background-color: #f0f0f0; 
    text-align: center; 
}
.contenedor { 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 20px; 
    padding: 20px; 
}
.tarjeta { 
    background: white; 
    border-radius: 10px; 
    padding: 20px; 
    width: 200px; 
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: transform 0.2s; 
}
.tarjeta:hover {
    transform: scale(1.05); 
}
.tarjeta img { width: 100%; height: auto; }
.estadio { font-size: 0.8em; color: gray; }

.boton-volver {
    background-color: #007bff;
    color: white !important;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background 0.3s;
}

.boton-volver:hover {
    background-color: #0056b3;
}   